body{background:none!important;}
input,select,button{border:none;}
i,em{font-style:normal;}
.crumb-bar,.crumb-bar a,.hy-side-menu dt i,.hy-searchbox .sbox .arr,.hy-area-select dt,.hy-list-box .list li .yrz,.hy-list-box .list li .pic .zd,.hy-list-box .list li .phone,.star,.company-tit .yrz,.hy-company-info .btn a,.hy-company-info .baidu-more,.hy-company-info .address{background: url(../images/pc_icons_11.png) no-repeat;}
.crumb-bar{height:20px;line-height:20px;color:#848484;margin:10px 0;padding-left:15px;background-position:-198px 3px;}
.crumb-bar a{color:#848484;float:left;padding-right:12px;background-position:right -16px;}
.crumb-bar span{float:left;}
.crumb-bar .cur_tit{color:#2299ee;}
.mb-16{margin-bottom:16px;}
.mb-60{margin-bottom:60px;*padding-bottom:60px;}
.zx-gg img,.hy-banner img{display:block;}
.hy-banner{margin:16px 0 12px;}
a:hover{color:#2299ee;text-decoration:underline;}

.hy_col_sub {float:left;width:210px;}
/*hy-side-menu*/
.hy-side-menu{width:210px;}
.hy-side-menu .title{height:46px;line-height:46px;background:#78bc0e;margin-bottom:13px;font-size:18px;text-align:center;color:#fff;}
.hy-side-menu .title a{color:#fff;}
.hy-side-menu dl{border:1px solid #eee;margin-bottom:16px;overflow:hidden;}
.hy-side-menu dt{height:42px;line-height:42px;color:#666;padding-left:10px;font-size:16px;border-top:1px solid #eee;position:relative;margin-top:-1px;cursor:pointer;background:#f7f7f7;}
.hy-side-menu dt i{position:absolute;width:18px;height:9px;top:50%;right:10px;margin-top:-4.5px;background-position:0 -25px;}
.hy-side-menu dt.current i,.hy-side-menu dt.hd_open i{background-position:0 -47px;} 
.hy-side-menu dd{padding-bottom:6px;display:none;background:#fdfdfd;}
.hy-side-menu li{line-height:30px;padding:0 10px;font-size:14px;}
.hy-side-menu li a{color:#999;}
.hy-side-menu li.current a,.hy-side-menu .cur{color:#2299ee;font-weight:bold;}
.hy-side-menu .open{display:block;}
.hy-side-menu .num{color:#999;font-size:12px;}


/*list*/
.hy-searchbox{background:#f7f7f7;height:37px;padding:19px 11px;margin-bottom:20px;}
.hy-searchbox .sbox{height:35px;line-height:35px;width:134px;border:1px solid #eee;background:#fff;float:left;position:relative;font-size:14px;z-index:8;margin-right:14px;}
.hy-searchbox .sbox .arr{position:absolute;top:50%;right:10px;z-index:1;margin-top:-5px;height:10px;width:21px;background-position:0 -362px;}
.hy-searchbox .sbox .arr.current{background-position:0 -391px;}
.hy-searchbox .sbox .selected{padding-left:10px;color:#999;}
.hy-searchbox .sbox ul{position:absolute;width:134px;border:1px solid #eee;left:-1px;top:35px;background:#fff;padding:6px 0;}
.hy-searchbox .sbox li{padding-left:10px;line-height:24px;cursor:pointer;}
.hy-searchbox .sbox li:hover{color:#ff6600;}
.hy-searchbox .kword{float:left;width:682px;height:35px;line-height:35px;border:1px solid #eee;padding-left:10px;font-size:14px;color:#999;margin-right:14px;overflow:hidden;}
.hy-searchbox .kword input{height:19px;line-height:19px;padding:8px 0;width:100%;}
.hy-searchbox .so,.hy-searchbox .add-hy{width:106px;height:37px;line-height:37px;color:#fff;font-size:16px;background:#2299ee;margin-right:14px;float:left;cursor:pointer;}
.hy-searchbox .add-hy{width:196px;background:#37a6e7;color:#fff;margin:0;text-align:center;}
.hy-searchbox .add-hy a{color:#fff;}
.hy-searchbox #mySle2_input{background:none;height:35px;line-height:35px;text-align:left;padding-left:10px;width:118px;}

.hy-list-box{float:right;width:968px;}
.hy-area-select{border:1px solid #eee;font-size:14px;line-height:31px;padding:13px 0;margin-bottom:22px;}
.hy-area-select dt{float:left;color:#999;padding-left:32px;height:31px;background-position:-118px -185px;}
.hy-area-select dd{float:right;width:892px;zoom:1;overflow:hidden;min-height:31px;}
.hy-area-select dd a{color:#666;margin-right:8px;float:left;padding:0 10px;}
.hy-area-select dd a.current,.hy-area-select dd a.selected{background:#37a6e7;color:#fff;}
.hy-list-box .title{height:40px;line-height:40px;color:#666;font-size:16px; background-color:#f7f7f7;}
.hy-list-box .title .zt{float:left;width:548px;padding-left:15px;margin-right:12px;}
.hy-list-box .title .update,.hy-list-box .list li .update{float:left;width:76px;text-align:center;margin-right:61px;}
.hy-list-box .title .score,.hy-list-box .list li .score{float:left;width:86px;text-align:center;}
.hy-list-box .list li{padding:15px 0;border-bottom:1px solid #eee;position:relative;font-size:14px;}
.hy-list-box .list li .pic .zd{position:absolute;top:-5px;left:-5px;height:62px;width:62px;background-position:0 -591px;}
.hy-list-box .list li .pic{float:left;width:152px;margin-right:15px;position:relative;}
.hy-list-box .list li .con{float:left;width:395px;margin-right:12px;position:relative;margin-top:-2px;}
.hy-list-box .list li .tit{margin-bottom:15px;}
.hy-list-box .list li .tit h3{font-size:16px;float:left;font-weight:normal;max-width:170px;margin-right:5px;}
.hy-list-box .list li .tit h3 a{color:#3366cc;}
.hy-list-box .list li .sort{color:#777;float:left;margin-right:10px;}
.hy-list-box .list li .yrz{float:left;width:58px;height:20px;background-position:0 -206px;}
.hy-list-box .list li .address{color:#999;margin-bottom:6px;}
.hy-list-box .list li p{color:#37a6e7;}
.hy-list-box .list li .phone{position:absolute;top:50%;right:0;margin-top:-16.5px; display:block; padding:0 10px 0 28px;height:31px;line-height:31px;border:1px solid #2299ee;border-radius:2px;color:#2299ee;background-position:-187px -589px;}
.hy-list-box .fc_pageNavigation{margin:45px 0 20px;}
.star{width:84px;height:18px;display:inline-block;background-position:-93px -505px;}
.star.i-2{background-position:-93px -525px;}
.star.i-3{background-position:-93px -545px;}
.star.i-4{background-position:-93px -565px;}
.star.i-5{background-position:-93px -585px;}

.fc_pageNavigation { text-align:center; font-size:14px;}
.fc_pageNavigation ul,.fc_pageNavigation li,.fc_pageNavigation span { display:inline-block; *display:inline; *zoom:1; vertical-align:middle;}
.fc_pageNavigation span,.fc_pageNavigation li { border:1px solid #eee; color:#aaa; padding:8px 14px;}
.fc_pageNavigation a{color:#666;padding:8px 14px;display:inline-block;border:1px solid #eee; vertical-align:middle;}
.fc_pageNavigation .current { border:1px solid #88929a; background-color:#2299ee;color:#fff;}
.fc_pageNavigation .current a:hover { color:#fff; cursor:default; text-decoration:none;}

.company-tit{height:72px;line-height:72px;margin-bottom:17px;padding:0 15px;color:#fff;background:url(../images/bgcolor.jpg) no-repeat 0 0;}
.company-tit .cname{font-size:28px;float:left;margin-right:24px;}
.company-tit ul{float:right;font-size:14px;}
.company-tit li{float:left;}
.company-tit .yrz{float:left;width:60px;height:20px;background-position:0 -463px;margin-top:27px;}
.company-tit li.line{margin:0 8px;font-family:'宋体';}
.blue .company-tit{background-position:0 -85px;}
.purple .company-tit{background-position:0 -170px;}
.green .company-tit{background-position:0 -256px;}
.brown .company-tit{background-position:0 -341px;}
.red .company-tit{background-position:0 -426px;}

.user_comment .comment_item{border-bottom:1px dashed #eee;padding:22px 0 12px;*zoom:1;overflow:hidden;}
.user_comment .comment_item .comment_face{float:left;width:80px;position:relative;top:0;left:0;}
.user_comment .comment_item .comment_face img{width:80px;height:80px;}
.user_comment .comment_item .comment_box{float:right;width:1062px;font-size:14px;}
.user_comment .comment_item .comment_user{font-size:18px;}
.user_comment .comment_item .comment_user a{color:#0185c6;}
.user_comment .comment_item .right{float:right;color:#999;font-size:13px;}
.user_comment .comment_item .comment_content{line-height:22px;clear:both;color:#898989;padding-top:14px;}
.comment_item .zan_btn,.comment_item .replay_btn{height:22px;line-height:22px;font-size:14px;color:#666;padding-left:28px;cursor:pointer;}
.comment_item .zan_btn,.comment_item .zan_btn:hover{background-position:0 -1062px;}
.comment_item .replay_btn,.comment_item .replay_btn:hover{background-position:0 -1092px;}
.comment_item .userName{color:#0185c6!important;}

.pageNavigation{text-align:center;font-family:arial;font-size:14px;padding:40px 0!important;}
.pageNavigation .current{background:#88929a!important;color:#fff;border-color:#88929a!important;}
.write2014{margin-top:18px!important;}
.write2014 .cmt_txt{border-color:#eee!important;height:122px;}
.write2014 .cmt_control{border:0!important;color:#999;font-size:14px!important;}
.write2014 .cmt_control a{color:#999;}
.display0{display:none!important;}

.hy-content .sm{color:#999;font-size:14px;line-height:30px;margin-top:20px;}
.hy-company-info{border:1px solid #eee;padding:0 12px 10px;margin-bottom:14px;}
.hy-company-info .operate{height:50px;line-height:50px;border-bottom:1px dashed #eee;color:#999;font-size:16px;margin-bottom:18px;}
.hy-company-info .share{float:left;}
.hy-company-info .share div{display:inline-block;vertical-align:middle;margin:0;}
.hy-company-info .btn{float:right;}
.hy-company-info .btn a{height:24px;line-height:24px;color:#999;margin-left:22px;padding-left:24px;}
.hy-company-info .btn a.jb{background-position:-190px -877px;}
.hy-company-info .btn a.reply{background-position:-190px -908px;}
.hy-company-info .con{float:left;width:650px;}
.hy-company-info .con dl{line-height:42px;font-size:16px;margin-bottom:35px;}
.hy-company-info .con dt{height:42px;color:#999;float:left;clear:both;width:74px;}
.hy-company-info .con dd{height:42px;float:left;}
.hy-company-info .con .phone{color:#2299ee;font-size:24px;}
.hy-company-info .baidu-more{font-size:14px;color:#999;height:24px;line-height:24px;padding-left:32px;background-position:-189px -1125px;}
.hy-company-info .baidu-more a{color:#3366cc;}
.hy-company-info .rside{float:right;width:452px;}
.hy-company-info .map{margin-bottom:15px;height:269px;overflow:hidden;}
.hy-company-info .address{background-position:-192px -1159px;color:#999;height:24px;line-height:24px;padding-left:24px;font-size:14px;}

.hy-content{border:1px solid #eee;margin-bottom:24px;}
.hy-content .tabs{height:40px;line-height:40px;background:#f4f4f4;margin-bottom:15px;}
.hy-content .tabs li{float:left; padding:0 15px;font-size:16px;color:#898c94;cursor:pointer;}
.hy-content .tabs li.selected{background:#fff;border-top:3px solid #2299ee;color:#2299ee;}
.hy-content .section,.hy-content .tab-cont{line-height:32px;font-size:14px;color:#666;padding:0 18px 10px;display:none;}
.hy-content .section h4{font-size:14px;font-weight:normal;color:#2299ee;}

.hy-content .tab-cont .hds { border-bottom:2px solid #ddd;}
.hy-content .tab-cont .hds h6 { color:#404040; font-size:16px;}
#show_total_revert { color:#f30;}
