@charset "utf-8";
.table2 {background-color:#eee; font-size:14px;border-spacing:1px;border-collapse:separate;}
.table2 .tabletitle{background-color:#f8f8f8; vertical-align:middle; text-align:center; height:25px;}
.table2 tr { background-color:#fff;}
.table2 td { padding:8px;}
.table2 .table_over,.table_over{background-color:#f9f9f9;}

.blue_font { color:#36c;}a.blue_font:hover { color:#d00;}
.s_btn_red,.addressList .tit { background:url(../images/kuaisonSP.gif) no-repeat 0 0;}

#order_list .addressList .item { margin:5px; border:1px solid #999;}
#order_list .addressList .cur1 { border:2px solid #b43427;}
.addressList { overflow:hidden; *zoom:1;}
.addressList .item { padding:5px 0 5px 5px; margin:5px; display:inline; width:310px; height:70px; position:relative; z-index:1; *zoom:1; color:#222; border:1px solid #999; background-color:#f6f6f6; float:left; border-radius:3px; cursor:pointer;}
.addressList .item0 { display:none;}
.addressList .radio { display:none;}
.addressList .name { color:#999; display:block; font-size:12px; margin-bottom:4px;}
.addressList .chrname { font-size:14px; font-weight:bold; color:#333;}
.addressList .chraddress,.addressList .tel { font-size:12px; color:#666; line-height:16px;}
.addressList .edit { display:none;}
.addressList .tit { display:none; position:absolute; width:28px; height:28px; right:0px; _right:-1px; bottom:0px; background-position:-572px -928px;}
.addressList .del { display:none;}
.addressList .cur1 { border:2px solid #b43427; width:308px; height:68px; background-color:#fff;}
.addressList .cur1 .edit { display:inline}
.addressList .cur1 .tit { display:block;}
.addressList .cur1 .moren { font-weight:normal;}
.addressList .morenok,.addressList .moren { color:#fff; display:none; position:absolute; top:0px; right:0px; _right:-1px; background-color:#ddd; font-size:12px; padding:0 3px;}
.addressList .ismoren1 .morenok { display:inline; font-weight:normal;}

.addeditNode { display:none; border:6px solid rgba(0,0,0,0.4); *border:6px solid #666; z-index:100; position:fixed; _position:absolute; top:0; left:50%; width:788px; margin-left:-400px;}
.addeditMask { display:none; z-index:99; position:absolute; top:0; left:0; background-color:#000; FILTER: alpha(opacity=30); moz-opacity: 0.3; opacity: 0.3;}
.address .p { overflow:hidden; *zoom:1; margin:15px;}
.address .a,.address .b { float:left;}
.address .a { width:80px; line-height:36px;}
.address .s_ipt { width:400px; padding:9px 8px; outline:0; color:#333; border:1px solid #ccc;}
.address .s_btn,.address .s_btn2,.s_btn_green,.s_btn_gray,.s_btn_red { color:#fff; outline:0; background-color:#3f952d; border-radius:4px; padding:6px 25px; border:1px solid #398c27; cursor:pointer; *overflow:visible; font-size:14px;}
.address .s_btn2 { background-color:#979797; border:1px solid #878787;}
.s_btn_green,.s_btn_gray { padding:8px 30px; font-size:16px;}
.s_btn_gray { background-color:#979797; border:1px solid #878787;}
.s_btn_red { border-radius:3px; border:0 none; float:left; margin:5px; display:inline; padding:50px 12px 6px; height:26px; background-color:#e74c3c; background-position:26px -800px;}
.s_btn_red:hover { text-decoration:none; color:#fff;}
#tip_error { color:#d00; padding-left:20px; line-height:36px;}
.mod_02 .hds { background-color:#d0cece; padding:8px; color:#333;}
.mod_02 .bds { background-color:#f6f6f6; padding:20px; font-size:14px;}
.node0 { display:none;}
.changeAddressNode { margin-top:10px;}
.changeAddressNode .btnNode { padding:10px; text-align:center;}


#order_list {}
#order_list .item { border-top:2px solid #777; margin-top:20px; color:#333;}
.view_order_detial { display:block; background-color:#f6f6f6; border:1px solid #eee; border-top:0 none; height:16px; overflow:hidden;}
.view_order_detial .s { top:4px; left:50%; display:block; width:15px; height:9px; overflow:hidden; background:url(../images/kuaisonSP.gif) no-repeat -394px -33px;}
.open .s { background-position:-394px -23px;}
.view_order_detial:hover { background-color:#f4f4f4;}


.order_detial { border:1px solid #eee; border-top:0 none; font-size:14px; display:none;}

.order_detial .table { padding:10px; background-color:#fff; font-size:12px;}
.order_detial .table .th,.order_detial .table .tr { text-align:center; overflow:hidden; *zoom:1; padding:6px 0;}
.order_detial .table .th { font-weight:bold; color:#aaa; background-color:#f6f6f6;}
.order_detial .table .a,.order_detial .table .b,.order_detial .table .c,.order_detial .table .d,.order_detial .table .e { float:left;}
.order_detial .table .a { width:538px;}
.order_detial .table .b { width:150px;}
.order_detial .table .c { width:150px;}
.order_detial .table .d { width:150px;}
.order_detial .table .tr { padding:5px 0; background-color:#fff; border-bottom:1px dotted #a8a8a8; line-height:60px;}
.order_detial .table .tr .a { text-align:left; padding-left:10px; width:528px;}
.order_detial .table .tr .a .viewImg { width:60px; height:60px; display:inline-block; display:inline; *zoom:1; vertical-align:top; margin-right:15px;}
.order_detial .table .tr .a .tit { display:inline-block; display:inline; *zoom:1;}
.order_detial .table .tr .c,.order_detial .table .tr .d { color:#d00}
.order_detial .total { color:#333; font-size:14px; text-align:right;}
.order_detial .total .em { color:#d00;}
.order_detial .total .em2 { color:#d00; font-size:16px; font-weight:bold;}
.order_detial .total,.order_detial .pay,.order_detial .address,.order_detial .guest { padding:8px; border-top:1px solid #eee;}
#order_list .order_detial .address .show0 { display:inline-block; *display:inline;}
.order_detial .pay img { vertical-align:middle;}
.peisonuser { vertical-align:middle;}

#order_list .order_detial .pay .payid99,#order_list .pay_payid99,#order_list .iskilldisplay0,.piskill0 { display:none;}
#order_list .payid99,#order_list .payid98_1,#order_list .payid99_1 { display:inline;}
#order_list .piskill_false_0,#order_list .piskill_false_4 { display:none;}
#order_list .piskill3, #order_list .piskill4 { display:none;}
#order_list .newdisplay0,#order_list .shouhuodisplay2 { display:inline-block; *display:inline; *zoom:1;}
#order_list .deldisplay3 { display:inline-block; *display:inline; *zoom:1;}
#order_list .paydisplay99 { display:block;}
#order_list .iskilldisplay4,#order_list .iskilldisplay3,#order_list .display10 { display:none;}
#order_list .yifukuandisplay1,#order_list .yifukuandisplay2,#order_list .tuikuandisplay5 { display:inline-block; *display:inline; *zoom:1;}

#order_list .i_payid99 { display:none;}


