@charset "utf-8";
.mt_footer .hd,.mt_footer .bd .middle,.mt_fliter .bd .s,.mt_fliter .bd .next_prev .s,.mt_fliter .bd,.mt_list .item .btn .buy,.mt_list .item .btn .jieshu,.mt_list .item .btn .soldOut,.mt_list .item .num,.mt_list .item .s,.tuan_item .btn a,.tuan_item .timer,.tuan_item .tui_ok,.tuan_item .tui_no,.tuan_item_footer .left,.tuan_item .s,.more_tuan,.tuan_item_list .tuijian,.tuan_detail .shangjia .s_bd .c,.mt_fliter .sel_price .s,.mt_fliter .s_search .s_btn,.mt_list .item .btn2 .buy,.mt_list .item .btn2 .wait,.mt_list .item .btn2 .soldOut,.mt_list .item .btn2 .jieshu,.tuan_item .btn .buy_ms,.tuan_item .btn .buy_notStart { background:url(../images/mt_2013.gif) no-repeat 0 0;}

.tuan_nav { margin:0; position:relative; z-index:1; *zoom:1; background-color:#2299ee;}
.tuan_nav li { float:left; padding:0 15px; text-align:center; line-height:38px; font-size:14px; border-right:1px solid #fff; position:relative; z-index:1; *zoom:1;}
.tuan_nav .current { background-color:#63BA3B; font-weight:bold; border-right:1px solid #fff;}
.tuan_nav a { color:#fff;}.mt .mt_nav a:hover { color:#fffb00; text-decoration:none;}
.tuan_nav .po { position:absolute; top:11px; right:10px;}
.tuan_nav a:hover { color:#fff;}
.tuan_nav .s_new { display:block; width:17px; height:19px; top:0; right:0;  position:absolute; background:url(../images/tg_new.gif) no-repeat 0 0; margin:-6px 0 0 -2px;}

.mt_fliter { border:1px solid #dadada; margin-top:10px; padding-top:10px;}
.mt_fliter .lb { line-height:20px; overflow:hidden; text-align:left; padding:6px 0 6px 55px; color:#333; position:relative; z-index:2; *zoom:1;}
.mt_fliter .lb .t { display:block; position:absolute; left:12px; top:6px; width:40px;}
.mt_fliter .lb a { display:inline-block; *display:inline; *zoom:1; margin:0 10px 0 0; padding:0 4px; border-radius:3px;}
.mt_fliter .lb em { font-size:12px; color:#aaa; padding-left:3px;}
.mt_fliter .lb a:hover { background-color:#2299ee; color:#fff; text-decoration:none;}
.mt_fliter .lb a:hover em { color:#fff; text-decoration:none;}

.mt_fliter .lb .current { color:#fff; background-color:#2299ee;}
.mt_fliter .lb .current em { color:#fff;}
.mt_fliter .lb .current:hover { text-decoration:none;} 
.mt_fliter .lb .current:hover em { color:#fff;}
.mt_fliter .lbs { margin:6px 10px 0 49px; background-color:#f6f6f6; padding-left:6px;}
.mt_fliter .lbs a { margin:3px 10px 3px 0;}

.mt_fliter .bd { border-top:1px solid #dadada; margin-top:10px; background-repeat:repeat-x; background-position:0 1px;}
.mt_fliter .bd .left { float:left;}
.mt_fliter .bd .right { float:right; line-height:30px;}
.mt_fliter .bd .right em { color:#2299ee; line-height:24px;}
.mt_fliter .bd a { display:block; float:left; *zoom:1; line-height:30px; position:relative; z-index:2; border-right:1px solid #dadada; padding:0 8px; color:#555;}
.mt_fliter .bd a:hover { color:#333; text-decoration:none;}

.mt_fliter .bd .s { display:block; position:absolute; top:11px; right:9px; width:7px; height:8px; overflow:hidden; cursor:pointer; background-position:-179px -93px;}
.mt_fliter .bd .jiang { background-position:-187px -93px;}
.mt_fliter .bd .p { padding-right:20px;}
.mt_fliter .bd .current { background-color:#fff;}

.mt_fliter .bd .next_prev { display:inline; margin-left:10px; background-color:#fff; border-left:1px solid #dadada; padding:4px 4px 4px 4px;}
.mt_fliter .bd .next_prev a  { width:20px; height:20px; padding:0; background-color:#f8f8f8; border:1px solid #dadada;}
.mt_fliter .bd .next_prev .s  { width:5px; height:9px; left:8px; top:6px;}
.mt_fliter .bd .next_prev .next   { background-position:-195px -93px;}
.mt_fliter .bd .next_prev .prev   { background-position:-201px -93px; left:7px;}
.mt_fliter .bd .next_prev .no { background-color:#fff; cursor:default;}
.mt_fliter .bd .next_prev .no .next { background-position:-207px -93px;}
.mt_fliter .bd .next_prev .no .prev { background-position:-213px -93px;}
.mt_fliter .bd .next_prev .no .s { cursor:default;}

.mt_footer { border:1px solid #e8e8e8; background:#fff;}
.mt_footer .hd { background-position:0 -30px; background-repeat:repeat-x; height:34px; line-height:34px; text-align:center; color:#404040; border-bottom:1px solid #e8e8e8;}
.mt_footer .bd { padding:15px 30px;}
.mt_footer .bd .left { width:750px; float:left; line-height:24px; padding-top:8px}
.mt_footer .bd .middle { width:203px; float:left; background-position:0 -146px; padding:38px 0 0 6px; text-align:left;}
.mt_footer .bd .middle .tel { font:bold 26px/30px "微软雅黑"; color:#2299ee;}
.mt_footer .bd .right { width:160px; float:left; padding:30px 0 0 15px; color:#333; left:0px;}
.mt_footer .bd .right p { line-height:16px; padding:5px 0;}
.mt_footer .bd .right img { vertical-align:middle;}
.mt_footer .bd ul { float:left; width:220px; text-align:left;}
.mt_footer .bd h3 { font-weight:bold; font-size:14px;}
.mt_footer .bd .left a { color:#333;}.mt_footer .bd .left a:hover { color:#2299ee;}
.mt_footer .bd .left .item { float:left; width:90px;}

.mt_list { padding:0 0 15px 17px; background-color:#f0f3f2;}

.mt_list .item { float:left; margin:20px 21px 0 10px; display:inline; border:1px solid #d5d5d5; background-color:#fff; padding:12px; width:237px; text-align:left; position:relative; z-index:2; *zoom:1;}
.mt_list .item .po { position:absolute; top:-4px; left:6px;}
.mt_list .item .po3 { position:absolute; top:-4px; right:-6px; }
.mt_list .item .s { display:block; width:41px; height:39px; float:left; display:inline; margin-right:2px; font:0pt/1000px Arial; overflow:hidden;}
.mt_list .item .s_xindan { background:url(../images/tuan2013_xindan.png) no-repeat 0 0; width:57px; height:61px; float:none; display:block;}
.mt_list .item .s_miaosha { background:url(../images/tuan2013_miaosha.png) no-repeat 0 0; width:57px; height:61px; float:none; display:block;}
.mt_list .item .s_tuijian { background-position:0 -65px;}
.mt_list .item .s_duotaocan { background-position:-42px -65px;}
.mt_list .item .s_mianyuyue { background-position:-84px -65px;}
.mt_list .item .s_tehui { background-position:-126px -65px;}
.mt_list .item img { vertical-align:top; width:237px; height:158px;}
.mt_list .item .title { font-size:16px; font-weight:bold; padding:6px 0 6px 4px; height:24px; line-height:26px; overflow:hidden;}
.mt_list .item .title a { color:#333;}.mt_list .item .title a:hover { color:#2299ee;}
.mt_list .item .info { font-size:14px; height:36px; line-height:18px; overflow:hidden; padding:0 4px;}
.mt_list .item .info a { color:#999;}.mt_list .item .info a:hover { color:#2299ee;}
.mt_list .item .price { padding:3px 4px 0 4px; color:#2299ee; font-size:30px; float:left;}
.mt_list .item .price em { color:#888; font-weight:normal; font-size:12px; display:block;}
.mt_list .item .btn,.mt_list .item .btn2 { float:right; padding-top:12px;}
.mt_list .item .btn .buy,.mt_list .item .btn .jieshu,.mt_list .item .btn .soldOut,.mt_list .item .btn2 .buy,.mt_list .item .btn2 .wait,.mt_list .item .btn2 .soldOut,.mt_list .item .loadding,.mt_list .item .btn2 .jieshu { display:block; width:94px; height:32px; font:0pt/1000px Arial; overflow:hidden; background-position:-261px -146px;}
.mt_list .item .btn .jieshu,.mt_list .item .btn2 .jieshu { background-position:-261px -178px; cursor:default;} 
.mt_list .item .btn .soldOut,.mt_list .item .btn2 .soldOut { background-position:-261px -210px; cursor:default;}
.mt_list .item .btn2 .wait { background-position:-261px -242px; cursor:default;}
.mt_list .item .btn2 .buy { background-position:-261px -114px;}

.mt_list .item .num { display:block; margin-top:4px; background-position:-621px -73px; padding-left:14px;}
.mt_list .item .num2 { background:none; padding-left:0; color:#999;}
.mt_list .item .num em { color:#2299ee; font-weight:bold;}
.mt_list .item .countdown,.mt_list .item .countdown_maskBg { display:none; position:absolute; top:133px; left:12px; width:237px; height:30px; line-height:30px; color:#fff; text-align:center; font-size:16px;}
.mt_list .item .countdown {}
.mt_list .item .countdown_maskBg { background-color:#000; opacity:.5; filter:alpha(opacity=50);}
.mt_list .time_left .info a:hover,.mt_list .time_left .title a:hover { color:#2299ee; text-decoration:underline;}

.mt_pageNav_2013 { padding:22px 0 12px; text-align:center; vertical-align:middle;}
.mt_pageNav_2013 a,.mt_pageNav_2013 .d { display:inline-block; *display:inline; *zoom:1; overflow:hidden; padding:12px 15px 10px; background-color:#fff; color:#555; font-size:12px; border:1px solid #dfdfdf; font-size:14px;}
.mt_pageNav_2013 .current,.mt_pageNav_2013 .current:hover { background-color:#2299ee; color:#fff; cursor:default; border:1px solid #2299ee;}
.mt_pageNav_2013 a:hover { background-color:#ddd; color:#333; text-decoration:none;}
.mt_pageNav_2013 .d { border:0 none; background-color:transparent; color:#888; padding:12px 8px;}

.tuan_item { border:1px solid #ccc; position:relative; z-index:1; *zoom:1; margin-top:15px; text-align:left; padding:15px;}
.tuan_item .title { font:bold 24px/28px "微软雅黑"; color:#333;}
.tuan_item .info { margin:15px 0; font:20px/30px "微软雅黑"; color:#333;}
.tuan_item .img { float:right; margin-top:7px; vertical-align:top;}
.tuan_item .po { position:absolute; width:11px; height:440px; top:0; right:-11px; background:url(../images/tuangou_png.png) no-repeat 0 0;}
.tuan_item .price { float:left; vertical-align:top; width:268px; height:440px; background-color:#f2f2f2; position:relative; z-index:2; *zoom:1;}
.tuan_item .jiesheng { padding:15px 10px 0;}
.tuan_item .jiesheng th { font-size:14px; text-align:center;}
.tuan_item .jiesheng td { font-size:14px; text-align:center; font-weight:bold; color:#333;}
.tuan_item  .p { margin:15px 0; text-align:center; font:bold 16px/30px "微软雅黑"; color:#2299ee;}
.tuan_item  .p em { font-size:38px; color:#2299ee;}
.tuan_item .btn { padding-bottom:20px; border-bottom:1px solid #d2d2d2;}
.tuan_item .btn a { margin:0 auto; display:block; width:180px; height:46px; font:0pt/1000px Arial; overflow:hidden;}
.tuan_item .btn .buy { background-position:-356px -65px;}
.tuan_item .btn .buy_ms { background-position:0 -440px;}
.tuan_item .btn .buy_notStart { background-position:0 -393px; cursor:default;}
.tuan_item .btn .soldOut { cursor:default; background-position:-356px -158px;}
.tuan_item .btn .end { background-position:-356px -111px; cursor:default;}
.tuan_item .num { border-top:1px solid #fff; border-bottom:1px solid #d2d2d2; padding:15px 0; text-align:center; line-height:26px;}
.tuan_item .num em { font-size:16px; font-weight:bold; color:#2299ee;}
.tuan_item .num p { color:#888;}
.tuan_item .timer { border-top:1px solid #fff; border-bottom:1px solid #d2d2d2; padding:20px 0 20px 70px; font-size:18px; line-height:20px; color:#555; background-position:-575px -96px;}
.tuan_item .timer p { color:#888; font-size:12px;}
.tuan_item .timer em { padding:0 3px; font-size:12px; color:#777; font-weight:bold;}
.tuan_item .tui_ok,.tuan_item .tui_no { border-top:1px solid #fff; background-position:-532px -278px; padding:24px 0 15px 110px;}
.tuan_item .po2 { position:absolute; top:-4px; right:10px; }
.tuan_item .po3 { position:absolute; top:69px; right:10px;}
.tuan_item .detail_xindan { top:106px;}
.tuan_item .s { display:block; width:41px; height:39px; float:left; display:inline; margin-right:2px; font:0pt/1000px Arial; overflow:hidden;}
.tuan_item .s_xindan { background:url(../images/tuan2013_xindan.png) no-repeat 0 0; width:57px; height:61px; float:none; display:block;}
.tuan_item .s_tuijian { background-position:0 -65px;}
.tuan_item .s_duotaocan { background-position:-42px -65px;}
.tuan_item .s_mianyuyue { background-position:-84px -65px;}
.tuan_item .s_tehui { background-position:-126px -65px;}
.tuan_item .tui_no { background-position:-532px -212px;}
.tuan_item_footer { border:1px solid #ccc; border-top:0 none; padding:5px 10px 5px 0; background-color:#f7f7f7;}
.tuan_item_footer .left { float:left; background-position:-590px -355px; padding-left:50px; font:26px/42px tahoma;}
.tuan_item_footer .right { float:right;}
.tuan_item_footer .left em { font-size:14px; font-family:"微软雅黑"; padding-left:5px;}

.tuan_detail {}
.tuan_detail .hd { padding:0 0 0 19px; background-color:#f4f4f4; border-bottom:1px solid #d5d5d5; height:32px; text-align:left;}
.tuan_detail .hd .title { display:block; position:relative; z-index:2; *zoom:1; background-color:#fff; border:1px solid #d5d5d5; border-top:0 none; border-bottom:0 none; width:70px; padding:0 8px; text-align:center; font:16px/33px "微软雅黑"; margin-bottom:-1px;}
.tuan_detail .bd { padding:15px 15px 25px; text-align:left; font-size:14px;}
.tuan_detail .bd img { vertical-align:top;}
.tuan_detail .bd p { margin:10px 0;}
.tuan_detail .shangjia { border:1px solid #e43b0f; margin-top:20px; position:relative; *zoom:1;}
.tuan_detail .shangjia .s_hd { background-color:#e43b0f; color:#fff; font:16px/30px "微软雅黑"; padding-left:8px;}
.tuan_detail .shangjia .s_hd em { font:12px/30px simsun; padding-left:7px;}
.tuan_detail .shangjia .s_bd { padding:20px 10px;} 
.tuan_detail .shangjia .s_bd li { float:left; padding:0 8px;}
.tuan_detail .shangjia .s_bd .a { width:150px;}
.tuan_detail .shangjia .s_bd .a img { vertical-align:top; width:150px; height:100px;}
.tuan_detail .shangjia .s_bd .b { width:360px; font:24px/100px "微软雅黑";}
.tuan_detail .shangjia .s_bd .c { font:14px/22px "微软雅黑"; width:510px; padding-left:60px; background-position:-577px -477px;}
.tuan_detail .shangjia .s_bd .c .em { color:#e43b0f; font-size:18px; margin-bottom:6px;}
.tuan_detail .shangjia .s_bd .c p { margin:0;}




.tuan_item_list .title { margin-bottom:18px; line-height:33px;}
.tuan_item_list .tuijian { padding-left:105px; background-position:-535px -421px;}
.tuan_item_list .title em { font-weight:bold; font-style:italic; color:#2299ee;}
.tuan_item_list .title a { color:#333;}.tuan_item_list .title a:hover { color:#2299ee;}

.liangdian .hd { margin-left:-17px; background-color:#e6e6e6; font:20px/30px "微软雅黑"; padding:6px 0 4px 10px; text-align:left; color:#444;}
.more_tuan { display:block; width:352px; height:40px; margin:20px auto 30px; background-position:0 -352px; font:0pt/1000px Airal; overflow:hidden;}




.maiguang_false_1 { display:none;}
.maiguang_true_0 { display:none;}

.mt_fliter .s_price,.mt_fliter .s_search { border-right:1px solid #dadada; padding:5px 12px; height:20px;}

.mt_fliter .s_search .s_ipt {outline:none; border:1px solid #ddd; border-right:0 none; height:16px; display:block; float:left; width:80px; padding:1px 5px; vertical-align:middle;}
.mt_fliter .s_search .s_btn {outline:none; border:0 none; background-color:#f1f1f1; height:20px; vertical-align:middle; cursor:pointer; padding:0 5px; display:block; float:left; background-position:-273px -73px; text-indent:-999em; overflow:hidden; width:28px;}
.mt_fliter .s_search input { vertical-align:middle;}
.mt_fliter .s_search input[type*=checkbox] { margin-right:3px;}

.mt_fliter .sel_price { cursor:pointer; background-color:#fff; border:1px solid #ddd; width:90px; padding:0 0 0 10px; text-align:left; position:relative; z-index:3; *zoom:1;}
.mt_fliter .sel_price .s { position:absolute; display:block; width:20px; height:18px; top:0px; right:0; border-left:1px solid #dadada; background-color:#f5f5f5; background-position:-239px -76px;}
.mt_fliter .sel_price .po { position:absolute; top:18px; left:-1px; width:100px; border:1px solid #dadada; background-color:#fff;}
.mt_fliter .sel_price .po a { float:none; border-right:0 none; display:block; height:24px; line-height:24px; border-bottom:1px dotted #aaa;}
.mt_fliter .sel_price .po .last { border-bottom:0 none;}

.error_list { padding:35px; font-size:24px; text-align:center; color:#333;}
.remen_str { font-size:16px; color:#2299ee; font-weight:bold;}

.mod_02 { margin-top:10px; border:1px solid #d8dadd; background-color:#fff; position:relative; *zoom:1; z-index:1;}
.mod_02 .hds { border-bottom:1px solid #d8dadd; background-color:#f6f6f6; height:36px;}
.mod_02 .hds li { float:left; padding:0 24px; color:#333; line-height:36px; font-size:16px; border-right:1px solid #d8dadd;}
.mod_02 .hds .selected { background-color:#fff; position:relative; height:35px; margin-bottom:-1px; border-bottom:0 none; border-top:2px solid #2299ee;}
.mod_02 .bds { padding:0 20px 20px;}
.mod_02 .fts { position:absolute; top:8px; right:8px; font-size:14px;}


.i_star { background:url(../images/kuaisonSP.gif) no-repeat 0 0}
.cmt_list li { overflow:hidden; *zoom:1; padding-top:20px;}
.cmt_list .face { float:left; width:48px; height:48px; vertical-align:top; display:inline; margin:5px 15px 0 0; border-radius:48px;}
.cmt_list .txt { float:left; width:1095px; border-bottom:1px solid #eee; color:#333; padding-bottom:20px;}
.cmt_list .name { vertical-align:middle;}
.cmt_list .pj { vertical-align:middle; color:#999;} 
.cmt_list .pj .st_1 { color:#2299ee;}
.cmt_list .pj .st_2 { color:#2299ee}
.cmt_list .pj .st_3 { color:#555}
.cmt_list .pj img { vertical-align:-4px;}
.cmt_list .cbd { padding:12px 0; line-height:24px;} 
.cmt_list .time { color:#999; font-size:12px;}
.cmt_list .time .zan { float:right; padding-left:22px; background:url(../images/kuaisonSP.gif) no-repeat -582px -687px;}
.cmt_list .reply { margin-top:8px;}
.cmt_list .reply .red { color:#2299ee;}
.cmt_list .sys_more { margin:15px 0 0 63px;}

.i_star { display:inline-block; *display:inline; *zoom:1; vertical-align:middle; width:84px; height:15px; background-position:0 -64px; overflow:hidden; margin:0 10px; text-indent:-999em;}
.i_star_5 { background-position:0 -64px;}
.i_star_4 { background-position:0 -80px;}
.i_star_3 { background-position:0 -96px;}
.i_star_2 { background-position:0 -112px;}
.i_star_1 { background-position:0 -128px;}

.write {}
.write .hds2 { font-size:20px; margin-bottom:5px; color:#444;}
.write .cmt_txt { vertical-align:top; padding:7px 10px 10px; border:1px solid #ddd; width:1136px; height:80px; color:#404040; outline:0;}
.write .cmt_control { border:1px solid #ddd; border-top:0 none; padding:5px 5px 5px 10px; font-size:12px; line-height:30px;}
.write .cmt_btn { width:88px; height:30px; background-color:#2299ee; color:#fff; cursor:pointer; font-size:16px; border:0 none; vertical-align:top;}
.write .po_captcha { display:none; position:absolute; width:150px; border:1px solid #ddd; background-color:#f6f6f6; padding:5px 0 15px 15px; right:0; bottom:0;}
.write .captcha_ipt { display:block; float:left; border:1px solid #ddd; color:#404040; padding:0px 4px; height:20px; line-height:20px; width:80px; vertical-align:top;}
.write .captcha_img { cursor:pointer; vertical-align:top; margin-bottom:8px; border:1px solid #aaa;} 
.write .cmt_btn2 { display:block; float:left; padding:0px 8px; background-color:#2299ee; color:#fff; cursor:pointer; line-height:22px; height:22px; font-size:12px; border:0 none; vertical-align:top;}
.write .po_captcha .close { display:block; position:absolute; top:5px; right:5px; width:17px; height:17px; background-position:-329px -19px; overflow:hidden; text-indent:-999em;}
.write .po_captcha .close:hover { background-position:-349px -19px;}
.write .disabled { background-color:#aaa; cursor:default;}
.write .select_star { border:1px solid #ddd; border-bottom:0 none; padding:12px 8px; color:#999;}
.write .select_star .sp { vertical-align:middle;}
.write .select_star .btn { vertical-align:middle; margin-right:3px;}
.write .select_star .btn span { display:inline-block; *display:inline; *zoom:1; padding:1px 5px; border-radius:4px; cursor:pointer;}
.write .select_star .btn_1 { color:#d23e3a; border:1px solid #ffa09e;}
.write .select_star .btn_2 { color:#2299ee; border:1px solid #f6bb8b;}
.write .select_star .btn_3 { color:#4d4d4d; border:1px solid #aaa;}
.write .select_star .cur .btn_1 { color:#fff; background-color:#d23e3a; border-color:#d23e3a;}
.write .select_star .cur .btn_2 { color:#fff; background-color:#e59452; border-color:#e59452;}
.write .select_star .cur .btn_3 { color:#fff; background-color:#4d4d4d; border-color:#4d4d4d;}
.write .select_star .btn:hover { text-decoration:none;}
.write .i_star_5,.write .i_star_4,.write .i_star_3,.write .i_star_2,.write .i_star_1,.write .i_star_0 { display:inline-block; *display:inline; *zoom:1; vertical-align:middle; width:135px; height:23px; background:url(../images/kuaisonSP.gif) no-repeat 0 -291px; overflow:hidden; margin:0; text-indent:0;}
.write .i_star_5 { background-position:0 -171px;}
.write .i_star_4 { background-position:0 -195px;}
.write .i_star_3 { background-position:0 -219px;}
.write .i_star_2 { background-position:0 -243px;}
.write .i_star_1 { background-position:0 -267px;}
.write .i_star_0 { background-position:0 -291px;}
.write .s_star { display:inline-block; *display:inline; *zoom:1; width:24px; height:23px; margin-right:3px; font:0pt/1000px Arial; overflow:hidden; vertical-align:top;}